---
---
@import "{{ site.theme }}";

<p class="view"><a href="https://www.linkedin.com/in/erincampbell234/">Visit my Linkedin Profile</a></p>

<p class="view"><a href="https://twitter.com/EJ__Campbell">Checkout my twitter</a></p>

</header>

header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}
